.text-field.error, .combo-box.error, .date-picker.error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.text-field.valid, .combo-box.valid, .date-picker.valid {
    -fx-border-color: green;
    -fx-border-width: 2px;
}
